@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background-color: #121212;
}

#clock {
    color: #66ff12;
    font-family: "Orbitron", sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 20rem auto;
}